<% include ../partials/header %>
<h1><%= Title %></h1>
<!-- Here are the movies btw: -->
<div class="col-sm-4">
<table class="table">

<tr>
    <td>
      How UN-rotten is this movie?
      </a></td>
      <td> <%= tomatoMeter %> </td>

</tr>
<tr><td><h4><%= Plot %></h4></td></tr>

<tr><td><h4><form action="../favorites/<%= imdbID %>" method="get">
<input type="hidden" name="favorite" value="yes">
<input type="hidden" name="movieTitle" value="<%= Title %>">
<input type="hidden" name="imdbID" value="<%= imdbID %>"><button type="submit" class="btn btn-default delete-link">add to watch list</button>
</form></h4></td></tr>



</table>

<!-- <form class="form" action="/movies" method="get">
<div class="form-group">
  <input type="text" name="q" class="form-control" placeholder="search for a movie">
  </div>
  <input type="submit" value="search" class="btn btn-primary">
  </form> -->
</div>
<div class="col-sm-4">
<img src="<%= Poster %>">
</div>
<div class="col-sm-4">
&nbsp;
</div>
<div class="col-sm-12">
<% include ../partials/footer %>
</div>